<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.skydiver.alfred.sql</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0FF5EFBB-E2F6-40E4-A03B-D62092AF525E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87D9CEE8-B7D5-4162-BF82-37767C72E1AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87D9CEE8-B7D5-4162-BF82-37767C72E1AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC0B1F5E-D103-4B27-9F0D-6C33F36B56CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC0B1F5E-D103-4B27-9F0D-6C33F36B56CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC471C68-C77C-400F-B093-D6DA3EE7FDEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Martín M.</string>
	<key>description</key>
	<string>Format and paste SQL on clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pretty SQL</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BC0B1F5E-D103-4B27-9F0D-6C33F36B56CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BC471C68-C77C-400F-B093-D6DA3EE7FDEC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>return (the clipboard)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>87D9CEE8-B7D5-4162-BF82-37767C72E1AC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sql</string>
				<key>subtext</key>
				<string>Format and paste SQL on clipboard</string>
				<key>text</key>
				<string>Pretty SQL</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0FF5EFBB-E2F6-40E4-A03B-D62092AF525E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0FF5EFBB-E2F6-40E4-A03B-D62092AF525E</key>
		<dict>
			<key>note</key>
			<string>Icons made by Smashicon
https://www.flaticon.com/authors/smashicons</string>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>87D9CEE8-B7D5-4162-BF82-37767C72E1AC</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>BC0B1F5E-D103-4B27-9F0D-6C33F36B56CD</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>BC471C68-C77C-400F-B093-D6DA3EE7FDEC</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/skydiver/</string>
</dict>
</plist>
